
@include bg-img('banner.png', main);

.form-description {
  margin-top: calc(16px + 15 * (100vw - 414px) / 1026);
}

.desc-btn {
  @include btn;
  color: $white-color;
  font-size: 13.3px;
  background-color: $green-color;
}

.desc-container {
  margin-top: 200px;
  margin-bottom: 200px;
}

@media (max-width: 582px) {
  .desc-container {
    margin-top: 250px;
  }
}