
.page-app-item {
  display: flex;

  flex-wrap: wrap-reverse;

  margin-top: calc(48px + 18 * (100vw - 414px) / 1026);

  gap: 0 144px;

  .app-item-body {
    max-width: 600px;
    width: 100%;


    .app-item-btn {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 16px;
      padding-bottom: 16px;

      font-size: 12.8px;
      text-transform: none;

      border-radius: 32px;

      background-color: $red-color;
    }
  }
}
