.header {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  width: 100%;
  max-width: 1200px;

  font-size: 11px;
  text-transform: uppercase;

  .container-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-logo {
    display: flex;
    align-items: center;
    color: $white-color;
    gap: 16px;

    text-wrap: nowrap;

    .header-logo-img {
      width: 24px;
      height: 24px;
    }
  }

  .nav {
    display: flex;
    gap: 0 24px;

    .nav-item {
      transition: all 0.2s linear;

      cursor: pointer;

      &:hover {
        color: $white-color;
      }
    }
  }

  @media (max-width: 582px) {
    .container-header {
      flex-direction: column;
      align-items: start;
    }

    .nav-item {
      font-weight: 700;
    }
  }

  @media (max-width: 415px) {
    .nav {
      flex-direction: column;
    }
  }

  .search-input {
    height: 28px;

    width: 248px;

    margin-left: auto;
    padding-left: 10px;

    color: inherit;

    border: none;
    border-radius: 50px;

    background-color: $dark-color;

    &::placeholder {
      text-transform: uppercase;
      font-size: 13.3px;
    }
  }

  @media (max-width: 875px) {
    .search-input {
      width: 100%;
    }

    .nav {
      margin-bottom: 16px;
    }
    .header-logo {
      margin-bottom: 15px;
    }
  }
}
