.main-bg-img {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.p-main-desc {
  padding-top: 199px;
  padding-bottom: 201px;

  @media (max-width: 415px) {
    & {
      padding-top: 250px;
    }
  }
}

.desc-h3 {
  margin-top: 31px;

  @media (max-width: 415) {
    & {
      margin-top: 16px;
    }
  }
}

.desc-form {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;

  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 24px;

    .form-input {
      min-width: 270px;
      min-height: 50px;
      padding-left: 20px;
      margin-bottom: 1.5rem;

      background-color: inherit;

      border: 2px solid $grey-color;
      border-radius: 3px;

      &::placeholder {
        font-size: 14px;
        text-transform: capitalize;
        color: $white-color;
      }
    }

    @media (max-width: 600px) {
      .form-input {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .btn-desc {
    width: 100%;
    height: 60px;
    margin: 0;

    font-size: 13.3px;
  }
}
