.similar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.similar-item {
  text-align: center;
  width: 250px;

  @media (max-width: 415px) {
    width: 137px;
    img {
      width: 137px;
    }
  }

  .discography-info {
    h3 {
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 0;
  
      @media (max-width: 415px) {
        & {
          margin-top: 10px;
        }
      }
    }
  }
}