@import "../mixins.scss";

#page-app {
  @include container;
}

.page-app-item {
  display: flex;

  gap: 0 144px;

  p {
    color: $dark-grey-color;
  }

  @media (max-width:415px) {
    flex-wrap: wrap-reverse;

    img {
      width: 333px;
      margin: auto;
    }
  }
}

.app-item-body {
  max-width: 600px;
}

.btn-app {
  display: inline-block;
  margin: 0;
  padding: 16px 40px;
  background-color: $red-color;
  font-size: 12.8px;
  text-transform: capitalize;
  border-radius: 32px;
}