@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
  margin: 0;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.btn:hover {
  transform: scale(1.1);
}

.btn-green {
  color: #fff;
  background-color: #34c176;
}

.btn-purple {
  color: #fff;
  background-color: #5328a1;
}

.btn-red {
  color: #fff;
  background-color: #95390c;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1239px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
}
.header {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  max-width: 1200px;
  font-size: 11px;
  text-transform: uppercase;
}
.header .container-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .header-logo {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 16px;
  text-wrap: nowrap;
}
.header .header-logo .header-logo-img {
  width: 24px;
  height: 24px;
}
.header .nav {
  display: flex;
  gap: 0 24px;
}
.header .nav .nav-item {
  transition: all 0.2s linear;
  cursor: pointer;
}
.header .nav .nav-item:hover {
  color: #fff;
}
@media (max-width: 582px) {
  .header .container-header {
    flex-direction: column;
    align-items: start;
  }
  .header .nav-item {
    font-weight: 700;
  }
}
@media (max-width: 415px) {
  .header .nav {
    flex-direction: column;
  }
}
.header .search-input {
  height: 28px;
  width: 248px;
  margin-left: auto;
  padding-left: 10px;
  color: inherit;
  border: none;
  border-radius: 50px;
  background-color: #3c3b3d;
}
.header .search-input::placeholder {
  text-transform: uppercase;
  font-size: 13.3px;
}
@media (max-width: 875px) {
  .header .search-input {
    width: 100%;
  }
  .header .nav {
    margin-bottom: 16px;
  }
  .header .header-logo {
    margin-bottom: 15px;
  }
}

.main-bg-img {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.p-main-desc {
  padding-top: 199px;
  padding-bottom: 201px;
}
@media (max-width: 415px) {
  .p-main-desc {
    padding-top: 247px;
  }
}

.desc-h3 {
  margin-top: 31px;
}
@media (max-width: 415px) {
  .desc-h3 {
    margin-top: 16px;
  }
}

.desc-form {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}
.desc-form .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 24px;
}
.desc-form .input-group .form-input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  background-color: inherit;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}
.desc-form .input-group .form-input::placeholder {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
@media (max-width: 600px) {
  .desc-form .input-group .form-input {
    max-width: 100%;
    width: 100%;
  }
}
.desc-form .btn-desc {
  width: 100%;
  height: 60px;
  margin: 0;
  font-size: 13.3px;
}

#page-pricing {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
}

.pricing-item-group {
  display: flex;
  gap: 50px;
  margin: auto;
  width: 100%;
}
@media (max-width: 415px) {
  .pricing-item-group {
    flex-direction: column;
  }
}

.pricing-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  min-width: 367px;
  max-width: 100%;
}
.pricing-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
@media (max-width: 415px) {
  .pricing-item h3 {
    font-size: 16px;
    font-weight: bold;
  }
}
.pricing-item .pricing-body {
  margin-top: 224px;
  margin-bottom: 64px;
}
.pricing-item .pricing-body .pricing-value {
  line-height: 1rem;
  font-size: 64px;
}
.pricing-item .pricing-body .pricing-value span {
  position: relative;
  top: -8px;
  margin-left: 16px;
  font-size: 32px;
  text-transform: uppercase;
  vertical-align: top;
}
.pricing-item .pricing-item-footer {
  font-size: 12.8px;
  margin-bottom: 64px;
  margin-top: 0;
}

.btn-price {
  width: 100%;
  height: 66px;
  border: 1px solid #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.pricing-footer {
  margin-top: 40px;
  margin-bottom: 0;
}

.bg-free {
  background-image: url("../images/free.png");
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/premium.png");
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/standart.png");
  background-size: cover;
}

#page-news {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}

.news-item {
  display: flex;
  gap: 50px;
}
@media (max-width: 415px) {
  .news-item {
    flex-wrap: wrap;
  }
}

.news-img {
  max-width: 575px;
  flex: 1 1;
}
@media (max-width: 415px) {
  .news-img {
    width: 100%;
  }
}

.news-body {
  text-align: left;
  max-width: 575px;
  flex: 1 1;
}
.news-body h3 {
  font-size: 30px;
  font-weight: normal;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (max-width: 414px) {
  .news-body h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
.news-body p {
  font-size: 16px;
  color: #cacaca;
}

.news-author {
  display: flex;
  gap: 16px;
  font-size: 12.8px;
  text-transform: uppercase;
}

.btn-news {
  padding: 16px 30px;
  margin: 0;
  border: 1px solid #e0e0e0;
  display: block;
  width: 135px;
  height: 53px;
  text-wrap: nowrap;
  font-size: 12px;
}

.padding-container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}

#page-app {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-app-item {
  display: flex;
  gap: 0 144px;
}
.page-app-item p {
  color: #cacaca;
}
@media (max-width: 415px) {
  .page-app-item {
    flex-wrap: wrap-reverse;
  }
  .page-app-item img {
    width: 333px;
    margin: auto;
  }
}

.app-item-body {
  max-width: 600px;
}

.btn-app {
  display: inline-block;
  margin: 0;
  padding: 16px 40px;
  background-color: #95390c;
  font-size: 12.8px;
  text-transform: capitalize;
  border-radius: 32px;
}

.artist-bg-img {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  height: 713px;
}
@media (max-width: 415px) {
  .artist-bg-img {
    height: 730px;
  }
}

.p-artist-desc {
  padding-top: 253px;
  padding-bottom: 200px;
}
@media (max-width: 415px) {
  .p-artist-desc {
    padding-top: 225px;
  }
}

.artist-desc h1 {
  margin-bottom: 16px;
}

.artist-btn-group {
  display: flex;
  gap: 24px;
}
@media (max-width: 415px) {
  .artist-btn-group {
    flex-wrap: wrap;
  }
}

.btn-artist {
  width: 200px;
  padding: 20px 30px;
  margin: 0;
  font-size: 12.8px;
  display: flex;
  align-items: center;
}
.btn-artist .btn-img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(1);
}

.padding-container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}

#page-popular-track {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}

.tracks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.track {
  display: flex;
  align-items: center;
  width: 420px;
}

.track-body {
  font-size: 12.8px;
  line-height: 19.2px;
}
.track-body h3 {
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.track-body p {
  margin: 0;
  color: #e0e0e0;
  text-transform: capitalize;
}

.track-img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.track-time {
  margin-left: auto;
}

.discography-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.discography-item {
  width: 250px;
}
@media (max-width: 415px) {
  .discography-item {
    width: 137px;
  }
  .discography-item img {
    width: 137px;
  }
}

.discography-info h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0;
}
@media (max-width: 415px) {
  .discography-info h3 {
    margin-top: 10px;
  }
}

.similar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

.similar-item {
  text-align: center;
  width: 250px;
}
@media (max-width: 415px) {
  .similar-item {
    width: 137px;
  }
  .similar-item img {
    width: 137px;
  }
}
.similar-item .discography-info h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0;
}
@media (max-width: 415px) {
  .similar-item .discography-info h3 {
    margin-top: 10px;
  }
}

.footer-top {
  margin-top: 62px;
  margin-bottom: 72px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px 40px;
}
.footer-top .footer-top-item {
  display: flex;
  flex-direction: column;
}
.footer-top .footer-top-item .subscribe-group {
  display: flex;
  gap: 0 24px;
}
.footer-top .footer-top-item a {
  font-size: 16px;
  line-height: 1.5;
}
.footer-top h2 {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 15px;
}

.line {
  position: relative;
  left: -100vw;
  width: 200vw;
  height: 2px;
  background-color: #fff;
}

.footer-bot {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  gap: 16px 16px;
}
@media (max-width: 429px) {
  .footer-bot {
    flex-direction: column;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.text-align-center {
  text-align: center;
}

.px-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.pos-rel {
  position: relative;
}

.black-color {
  color: #08020d;
}

.green-color {
  color: #34c176;
}

.gray-color {
  color: #e0e0e0;
}

.dark-grey-color {
  color: #cacaca;
}

.dark-color {
  color: #3c3b3d;
}

.orange-color {
  color: #f89202;
}

.purple-color {
  color: #5328a1;
}

.red-color {
  color: #95390c;
}

.white-color {
  color: #fff;
}

@media (max-width: 415px) {
  .wrap-reverse-mobile {
    flex-wrap: wrap-reverse;
  }
}
.w-138 {
  width: 138px;
}

/*# sourceMappingURL=style.css.map */
