.track-container {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(374px, calc((100% - 50px) / 2)));

  gap: 25px 50px;

  .track {
    display: flex;
    align-items: center;

    gap: 0 15px;

    font-size: 12.8px;


    .track-img {
      width: 55px;
      height: 55px;
    }
  
    h3 {
      line-height: 19.2px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      text-transform: capitalize;
      color: $grey-color;
      margin: 0;
    }

    .track-time {
      margin-left: auto;
      color: $grey-color;
    }
  }
}