.discography-container {
  display: flex;
  flex-wrap: wrap;

  gap: 25px 50px;
}

.discography-item {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-width: 137px;
  width: calc(137px + 113 * (100vw - 414px) / 1026);

  img {
    width: 100%;
  }

  h3 {
    font-size: 17.9px;
    line-height: 27px;
    font-weight: bold;
    text-transform: capitalize;
  }

  span {
    font-size: 16px;
    color: $grey-color;
  }
}