
@include bg-img('Morten Harket.png', artist);

.artist-desc-container {
  margin-top: 250px;
  margin-bottom: 200px;

  & {
    @media (max-width: 415px) {
      margin-top: 225px; // ?????
    }
  }
}
.artist-btn-group {
  display: flex;
  flex-wrap: wrap;

  gap: 24px 24px;


  .btn-artist-desc {
    display: flex;
    align-items: center;

    gap: 0 16px;

    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 12.8px;

    .btn-img {
      width: 20px;
      height: 20px;
      filter: invert(1);
    }
  }
}