// text

.text-align-center {
  text-align: center;
}

// layout 

// padding 

.px-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.pt-100 {
  padding-top: 100px;
}

// margin 

.mr-90 {
  margin-right: 90px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-48 {
  margin-bottom: 48px;
}



//
.pos-rel {
  position: relative;
}

// color 

@mixin colors() {
  @each $name, $value in $colors {
    .#{$name} {
      color: #{$value};
    } 
  }
}

@include colors();