.mr-y-200 {
  margin-top: 200px;
  margin-bottom: 200px;
}

.pr-20 {
  padding-right: 20px;
}

.pt-100 {
  padding-top: 100px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mt-31 {
  margin-top: 31px;
}

.mr-45 {
  margin-right: 90px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-43 {
  margin-top: 43px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.w-100 {
  width: 100%;
}

.min-h-750 {
  min-height: 750px;
}

.text-align-center {
  text-align: center;
}

.flex {
  display: flex;

  &.flex-align-items-center {
    align-items: center;
  }

  &.flex-column {
    flex-direction: column;
  }
}

.flex-grow-1 {
  flex: 1;
}

@mixin color($colors) {
  @each $name, $color in $colors {
    .#{$name} {
      color: $color;
    }

    .bg-#{$name} {
      background-color: $color;
    }
  }
}

@include color($colors);

.grid {
  display: grid;

  &.gap-24 {
    grid-gap: 24px;
  }
}

.gap-24 {
  grid-gap: 24px;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}
