@import "./variables.scss";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  line-height: 1.5;
  color: $dark-grey-color;
  background-color: $black-color;

  margin: 0;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;

  border-radius: 5px;

  border: none;
  background-color: inherit;

  cursor: pointer;

  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-green {
  color: $white-color;
  background-color: $green-color;
}





