$black-color: #08020d;
$green-color: #34c176;
$gray-color: #e0e0e0;
$dark-grey-color: #cacaca;
$dark-color: #3c3b3d;
$orange-color: #f89202;
$purple-color: #5328a1;
$red-color: #95390c;
$white-color: #fff;

$colors: (
  black-color: #08020d,
  green-color: #34c176,
  gray-color: #e0e0e0,
  dark-grey-color: #cacaca,
  dark-color: #3c3b3d,
  orange-color: #f89202,
  purple-color: #5328a1,
  red-color: #95390c,
  white-color: #fff,
);
